<aside class="w-64 md:w-72 lg:w-80 h-full text-white flex flex-row items-center">
  <!-- Icon navigation sidebar -->
  <nav class="w-16 h-full flex flex-col justify-between py-5 ">
    <!-- Logo section -->
    <div class="flex flex-col items-center space-y-5">
      <div class="rounded-full w-[40px] h-[40px] bg-black font-mono text-white justify-center flex items-center font-bold text-xl">
        <span><img src="assets/imgs/little_cherry.jpg" width="40" alt=""></span>
      </div>
    </div>

    <!-- Main navigation links -->
    <div class="flex flex-col items-center space-y-5">
      <div (click)="setActiveSection('dashboard')">
        <app-link icon="heroChartBarSquare"  [isActive]="activeSection === 'dashboard'"></app-link>
      </div>
      <div (click)="setActiveSection('products')">
        <app-link icon="heroCube"  [isActive]="activeSection === 'products'"></app-link>
      </div>
      <div (click)="setActiveSection('content')">
        <app-link icon="heroNewspaper"  [isActive]="activeSection === 'content'"></app-link>
      </div>
    </div>

    <!-- Secondary navigation links -->
    <div class="flex flex-col items-center space-y-5">
      <app-link icon="heroChatBubbleOvalLeftEllipsis" [isActive]="activeSection === 'inbox'" (click)="router.navigateByUrl('/basic/inbox');setActiveSection('inbox')"></app-link>
      <app-link icon="heroCog6Tooth" href="/alll"></app-link>
    </div>
  </nav>

  <!-- Content navigation sidebar -->
  <nav class="flex-1 h-full flex justify-start flex-col py-5">
    <div class="w-full h-full">
      <!-- Logo text -->
      <div class="flex flex-col items-start h-[40px] justify-center font-mono">
        <span class="text-black text-xl font-semibold" style="letter-spacing: 1px">
          Little Cherry
        </span>
      </div>

      <!-- Tree navigation -->
      <div class="flex flex-col items-center space-y-5 mt-2">
        <app-tree-example class="w-full" [activeSection]="activeSection"></app-tree-example>
      </div>
    </div>
  </nav>
</aside>
