<div class="absolute top-0 right-0 bg-opacity-30 flex justify-center items-center backdrop-blur bg-principal w-full h-full overflow-hidden">
  <div class=" h-[90%] xl:w-[90%] shadow-xl bg-principal top-0 right-0 rounded-3xl z-20 grid grid-cols-2 gap-2">
    <div class="col-span-1">
      <div class="h-[90%] overflow-y-scroll hide-scrollbar">
        <div class="prodile-and-products  flex flex-col gap-2 w-full p-4" *ngIf="step==='platforms'">
          <span class="text-xl font-bold font-mono">Choose on which platform you want to post</span>
          <app-platform-post-check
            *ngFor="let page of pages"
            [platform]="page.platform"
            [pageTitle]="page.pageTitle"
            [username]="page.username"
            [logo]="page.platformIdentifier"
            [associatedMedia]="page.associatedMedia"
            [linkToPlatform]="page.linkToPlatform"
            (statusChange)="updateStatus(page)"
          ></app-platform-post-check>
        </div>
        <div class="post-form flex flex-col gap-2 w-full p-4" *ngIf="step==='products'">
          <span class="text-xl font-bold font-mono">If you want to attach some products, you can do it here</span>
          <app-product-row *ngFor="let product of products" [product]="product"></app-product-row>
        </div>
      </div>
      <div class="h-[10%]">
        <div class="flex justify-around items-end w-full p-4 font-mono">
          <button class="p-2 px-4 bg-green-400 text-white rounded-full" (click)="step='platforms'">Platforms</button>
          <button class="p-2 px-4 bg-green-400 text-white rounded-full" (click)="step='products'">Products</button>
        </div>
      </div>
    </div>
    <div class="col-span-1 overflow-y-scroll hide-scrollbar font-mono p-4">
        <div class="mb-1">
          <h1 class="text-2xl font-bold text-gray-900 mb-2">Create Social Media Post</h1>
          <p class="text-gray-600">Create your social media post with images and messages.</p>
        </div>

        <form [formGroup]="postForm" (ngSubmit)="onSubmit()" class="">

          <!-- Main Message Section -->
          <app-main-message
            [control]="mainMessageControl">
          </app-main-message>
          <!-- Media Details Section -->
          <app-media-details-container
            [formGroup]="postForm"
            [mediaDetailsArray]="mediaDetailsArray"
            (addMedia)="addMediaDetail()"
            (removeMedia)="removeMediaDetail($event)">
          </app-media-details-container>

          <!-- Submit Button -->
          <app-submit-button
            [disabled]="!postForm.valid"
            [isSubmitting]="isSubmitting"
            (submit)="onSubmit()">
          </app-submit-button>
        </form>

        <!-- Form Validation Summary -->
<!--        <app-form-validation-summary-->
<!--          [form]="postForm">-->
<!--        </app-form-validation-summary>-->
    </div>
  </div>
</div>
