<div class="absolute top-0 right-0 bg-opacity-30 flex justify-center items-center backdrop-blur bg-principal w-full h-full overflow-hidden">
  <div class=" h-[90%] xl:w-[90%] shadow-xl bg-principal top-0 right-0 rounded-3xl z-20 grid grid-cols-2 gap-2">
    <div class="prodile-and-products  flex flex-col gap-2 w-full p-4">
      <span class="text-xl font-bold font-mono">Choose on which platform you want to post</span>
      <app-platform-post-check
        *ngFor="let page of pages"
        [platform]="page.platform"
        [pageTitle]="page.pageTitle"
        [username]="page.username"
        [logo]="page.platformIdentifier"
        [status]="page.status"
        [associatedMedia]="page.associatedMedia"
        [linkToPlatform]="page.linkToPlatform"
      ></app-platform-post-check>
    </div>
    <div class="post-form flex flex-col gap-2 w-full p-4">
      <span class="text-xl font-bold font-mono">If you want to attach some files, you can do it here</span>
      
    </div>
  </div>
</div>
