<div  >
  <div *ngIf="isActive" class="sm:rounded-full sm:border sm:w-[40px] sm:h-[40px] w-[60px] h-[60px] sm:bg-yellow border-b-2 border-yellow bg-yellow justify-center flex items-center ">
    <ng-icon name="{{icon}}"  class="text-fotsy text-2xl sm:text-lg" ></ng-icon>
  </div>
  <div *ngIf="!isActive" class="rounded-full  w-[40px] h-[40px] sm:bg-white justify-center flex items-center text-black hover:bg-yellow hover:text-fotsy transition-all">
    <ng-icon name="{{icon}}"  class="sm:text-lg text-2xl " ></ng-icon>
  </div>
</div>
