# Angular specific
/dist/
/out-tsc/
/tmp/
/coverage/
/e2e/test-output/
/.angular/
.angular/

# Node modules and dependency files
/node_modules/
/package-lock.json
/yarn.lock

# Environment files
/.env

# Angular CLI and build artefacts
/.angular-cli.json
/.ng/

# TypeScript cache
*.tsbuildinfo
.idea
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/spring-service/.env
/data-analytics-service/cache
social-front-end/src/environments/environment.ts
spring-service/src/main/resources/firebase-account-service.json
/.kiro
spring-service/src/main/resources/application.properties
data-analytics-service/.env
/data-analytics-service/post_generator/__pycache__
/data-analytics-service/post_generator/agent_core/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/category_extractor/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/category_extractor/tools/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/db_category_extractor/__pycache__
/data-analytics-service/__pycache__
/data-analytics-service/tokens/__pycache__
*.pyc
/data-analytics-service/post_generator/agent_core/sub_agents/product_extractors/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/product_extractors/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/product_extractors/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/product_extractors/__pycache__
/data-analytics-service/post_generator/agent_core/sub_agents/product_extractors/__pycache__
