<!-- Mobile Navigation -->
<div class="lg:hidden w-screen h-screen">
  <div class="w-full p-2 bg-transparent fixed bottom-1">
    <div class="w-full bg-black flex rounded-2xl px-5 flex-row gap-2 items-center justify-between">
      <app-nav-button 
        *ngFor="let item of menuItems" 
        [icon]="item.icon" 
        [isActive]="item.isActive" 
        [href]="item.route">
      </app-nav-button>
      <app-nav-button 
        icon="heroArrowRightOnRectangle" 
        [isActive]="false" 
        (click)="logout()">
      </app-nav-button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>

<!-- Desktop Navigation -->
<div class="lg:flex flex-row h-screen w-screen hidden p-3">
  <aside
    class="hidden w-[70px] lg:flex flex-col items-center bg-black text-fotsy rounded-xl shadow h-full">
    <!-- Side Nav Bar-->

    <div class="h-16 flex items-center w-full">
      <!-- Logo Section -->
      <a class="h-6 w-6 mx-auto" href="/client/marketplace">
        <div class="rounded-full bg-black font-mono text-white justify-center flex items-center font-bold text-xl">
          <span>C</span>
        </div>
      </a>
    </div>

    <ul class="w-full">
      <!-- Items Section -->
      <li *ngFor="let item of menuItems" 
          class="hover:bg-gray-800 rounded-lg mx-2 transition-colors"
          [class.bg-orange]="item.isActive"
          [class.bg-opacity-20]="item.isActive">
        <a
          href="{{item.route}}"
          [title]="item.label"
          class="h-16 flex justify-center items-center w-full cursor-pointer"
          [class.text-orange]="item.isActive"
          [class.text-white]="!item.isActive">
          <ng-icon [name]="item.icon" ></ng-icon>
        </a>
      </li>
    </ul>

    <div class="mt-auto h-16 flex items-center w-full">
      <!-- Logout Section -->
      <button
        (click)="logout()"
        title="Logout"
        class="h-16 w-10 mx-auto flex justify-center items-center
				w-full text-white hover:bg-red-500 hover:bg-opacity-20 focus:outline-none rounded-lg transition-colors">
        <ng-icon name="heroArrowRightOnRectangle" size="24"></ng-icon>
      </button>
    </div>

  </aside>
  <div class="flex-1 p-2 rounded-xl bg-fotsy overflow-hidden">
    <router-outlet></router-outlet>
  </div>
</div>
