<form class="w-[30vw] h-full absolute px-2 flex justify-center items-center transform translate-x-full transition-transform duration-300 ease-in-out" >
  <div class="bg-cardbg rounded-3xl w-[100%] h-[100%] shadow relative">
    <div class="flex justify-between w-full p-4 px-6 text-blackt items-center gap-5 font-mono font-bold text-xl border-b border-gray">
      <div>
        <h1 class="text-gray"></h1>
        <h1>Edit your contacts</h1>
      </div>
      <div class="text-xl  flex justify-center items-center">
        <ng-icon name="heroPlusCircle" size="30" class="cursor-pointer"></ng-icon>
      </div>
    </div>
    <div class="flex flex-col gap-4 p-4 px-6">
      <app-basic-input label="Username" type="text" placeholder="Enter your username"></app-basic-input>

    </div>
  </div>String username, String password
</form>
