<div
  style="display:block;"
  class="w-full h-full bg-fotsy p-4 rounded-3xl font-mono flex flex-col justify-between items-center"
>
  <div class="h-5/6">
    <canvas
      class="w-full"
      baseChart
      [type]="lineChartType"
      [data]="lineChartData"
      [options]="lineChartOptions"
      [legend]="lineChartLegend">
    </canvas>
  </div>
  <div class="flex-1 h-1/6 flex justify-around p-1 flex-col">
    <span class="text-lg font-bold text-zinc-500">Sales Performance</span>
    <span class="text-xs text-zinc-400">Order trends over time</span>
  </div>
</div>
