<div class="w-full h-auto flex flex-col justify- items-center gap-4">
  <div class="w-full h-auto flex items-center gap-4 font-light py-2" style="letter-spacing: 0px">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusantium animi atque doloribus ea expedita hic nam numquam ut voluptates? Animi aut ducimus ea eaque fuga nam quisquam rerum voluptatum.</p>
  </div>
  <div
    class="rounded-3xl overflow-hidden w-full h-[350px] grid gap-4"
  >
    <div class="w-full bg-red-100 h-[350px]">
      <img src="assets/imgs/download.jpeg" class="object-cover w-full h-full" alt="">
    </div>
  </div>
</div>
