<div class="fixed inset-0 bg-black bg-opacity-30 backdrop-blur-sm transition-all duration-300 ease-in-out z-50"
     [class.opacity-0]="!isVisible"
     [class.opacity-100]="isVisible"
     [class.pointer-events-none]="!isVisible"
     [@backdropFade]
     (click)="closeFormHandler()">

  <div class="h-[100vh] xl:w-[30vw] w-[85vw] shadow-2xl absolute bg-white top-0 right-0 rounded-l-3xl z-[60] overflow-y-scroll hide-scrollbar"
       [@slideFromRight]
       (click)="$event.stopPropagation()">

    <div class="flex justify-begin p-4 px-6 text-blackt items-center gap-5 font-mono font-bold text-xl border-b border-gray"
         [@fadeInUp]="{ value: isVisible, params: { delay: '100ms' } }">
      <h1 class="text-gray flex justify-center items-center cursor-pointer hover:text-red-500 transition-all duration-200 hover:scale-110 hover:rotate-90"
          (click)="closeFormHandler()">
        <ng-icon name="heroXMark" size="20"></ng-icon>
      </h1>
      <h1 class="transition-all duration-300 hover:text-blue-600">{{ label }}</h1>
    </div>

    <div class="flex flex-col gap-8 justify-start items-center w-full p-4"
         [@staggerChildren]="isVisible">
      <ng-content></ng-content>
    </div>
  </div>
</div>
