<div class="rounded-xl flex flex-col w-full min-w-[150px] sm:min-w-[200px] h-[120px] font-mono bg-fotsy shadow-xl justify-between gap-2 p-2 px-4" style="letter-spacing: 1px">
  <span class="text-zinc-500 text-md">Top sales</span>
  <span class="text-2xl font-bold">{{dashboardStats?.totalSales}}</span>
  <div class="w-auto rounded-full font-semibold cursor-pointer max-w-[150px] font-sans flex flex-row gap-2 items-center text-xs " style="letter-spacing: 1px">
    <div class="w-[25px] h-[25px] overflow-hidden rounded-full">
      <img src="assets/logos/facebook_logo.png" class="object-cover" width="25" alt="">
    </div>
    <h1 class="truncate whitespace-nowrap overflow-hidden min-w-0">
      La page de tes5
    </h1>
  </div>
</div>
