<div class="rounded-xl flex flex-col w-full min-w-[150px] sm:min-w-[200px] h-[120px] font-mono bg-black text-white shadow-3xl justify-between gap-2 p-2 px-4" style="letter-spacing: 1px">
  <span class="text-zinc-300 text-md">Best deals</span>
  <span class="text-2xl font-bold">{{dashboardStats?.bestDeal | number:'1.0-2'}} Ar</span>
  <div class="w-auto rounded-full font-semibold cursor-pointer max-w-[150px] font-sans flex flex-row gap-2 items-center text-xs " style="letter-spacing: 1px">
    <h1 class="truncate whitespace-nowrap overflow-hidden min-w-0">
      La page de test
    </h1>
  </div>
</div>
