<div class="flex gap-2 justify-center items-center flex-col p-4 px-6 w-full  border-b border-gray">
  <div class="flex justify-between items-center w-full" style="letter-spacing: 1px">
    <h1 class="font-medium text-xl">Managed accounts</h1>
    <p class="font-light text-sm flex justify-center items-center gap-2"> <ng-icon name="heroPencilSquare"></ng-icon> Edit</p>
  </div>
  <div class="w-full">
    <app-platform-row></app-platform-row>
    <app-platform-row></app-platform-row>
    <app-platform-row></app-platform-row>
  </div>
</div>
