<div style="display:block; " class="w-full h-full bg-fotsy p-4 rounded-3xl font-mono flex flex-col justify-between items-center" >
  <div class="h-5/6">
    <canvas class="w-full" baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="barChartLegend">
    </canvas>
  </div>
  <div class=" flex-1 h-1/6 flex justify-around p-1 flex-col">
    <span class="text-xs font-bold text-zinc-500">Orders Distribution</span>
    <span class="text-md font-bold text-blackt">By Social Media Pages</span>
  </div>
</div>
Revenue
