<div style="display:block; " class="w-full h-full bg-fotsy p-4 rounded-3xl font-mono flex flex-col justify-between items-center" >
  <div class="h-5/6">
    <canvas class="   w-full " style="" baseChart
            [data]="barChartData"
            [options]="barChartOptions"
            [legend]="barChartLegend">
    </canvas>
  </div>
  <div class=" flex-1 h-1/6 flex justify-around p-1 flex-col">
    <span class="text-xs font-bold text-zinc-500">Deals amount</span>
    <span class="text-md font-bold text-blackt">by pages</span>
  </div>
</div>
