<div>
  <div class="cont-box w-full flex gap-5 justify-start mt-2" *ngFor="let page of pages ">
    <div class="rounded-full w-[30px] h-[30px] bg-opacity-40 overflow-hidden">
      <img width="30" [src]="page.associatedMedia" alt="{{ page.pageTitle }}">
    </div>
    <div class="flex flex-col" style="letter-spacing: 1px">
      <a href="{{page.linkToPlatform}}" class="text-md font-semibold">&#64;{{ page.pageTitle }}</a>
      <p  class="text-sm text-gray">{{ page.platform }}</p>
    </div>
  </div>
</div>
