<div class="w-full h-full bg-white rounded-3xl p-4">
  <div class="flex justify-between items-center w-full">
    <div class="flex gap-2 justify-center items-center flex-row">
      <app-platform-badge></app-platform-badge>
      <app-platform-badge></app-platform-badge>
      <app-platform-badge></app-platform-badge>
      <div class="w-[35px] h-[35px] overflow-hidden rounded-full border-2">
        <img src="assets/imgs/gustavo.jpeg" class="New Reportobject-cover" width="35" alt="">
      </div>
    </div>
    <div class="flex gap-2 justify-center items-center flex-row">
      <app-action-badge icon="heroChartBarSquare" href="" ></app-action-badge>
      <app-action-badge icon="heroChartBarSquare" href="" ></app-action-badge>
      <app-action-badge icon="heroChartBarSquare" href="" ></app-action-badge>
    </div>
  </div>
  <div class="flex justify-between items-center w-full py-6">
    <h1 class="text-3xl text-zinc-500" style="letter-spacing: 1px">New Report</h1>
  </div>
  <div class="flex justify-between items-end w-full py-2 ">
    <div class="flex flex-col gap-2 rounded-3xl font-mono" style="letter-spacing: 1px">
      <h1>Revenue</h1>
      <div class="flex gap-3 items-center justify-center w-full ">
        <span class="text-3xl font-bold">$<span>523,000.82</span></span>
        <app-revenue-badge [showIcon]="true" text="7.5%"></app-revenue-badge>
        <app-revenue-badge [showIcon]="true" text="$ 27,335"></app-revenue-badge>
      </div>
      <div>
        <span>From Sep 1 to Aug 31 2025</span>
      </div>
    </div>
    <div class="flex gap-2">
      <app-top-sales-card></app-top-sales-card>
      <app-best-deals-card></app-best-deals-card>
      <app-descriptive-card [isActive]="true"></app-descriptive-card>
      <app-descriptive-card></app-descriptive-card>
    </div>
  </div>
  <div class="w-full py-6 ">
    <div class="w-full h-[50px] rounded-full bg-fotsy flex flex-row items-center justify-center p-1 gap-1">
      <app-account-performances class="w-[19.20%]" [percentage]="19.20" [amount]="12000"></app-account-performances>
      <app-account-performances class="w-[30.80%]" [percentage]="30.80" [amount]="30000"></app-account-performances>
      <app-account-performances class="w-[50%]" [percentage]="50" [amount]="40000"></app-account-performances>

    </div>
  </div>
</div>
