<div class="flex flex-col lg:grid lg:grid-cols-5 lg:bg-white rounded-3xl w-full h-full lg:p-4 p-0 gap-8">
  <div class="w-full lg:col-span-3 flex flex-col justify-start items-center gap-4 hide-scrollbar overflow-y-scroll">
    <div class="md:hidden w-full p-2 px-4 border rounded-xl flex gap-2 cursor-pointer bg-fotsy">
      <div class="w-[50px] h-[50px] bg-red-100 top-[50px] left-[20px] rounded-full border-fotsy border-2 overflow-hidden">
        <img src="assets/imgs/gustavo.jpeg" width="50" alt="">
      </div>
      <div class="flex-1 rounded-full flex justify-center items-center font-mono text-zinc-500 bg-white">
        <span>Create a post</span>
      </div>
    </div>
    <div class="w-full h-auto lg:rounded-xl border-b  pb-2 border-zinc-400 bg-fotsy lg:p-6 p-0">
      <app-post-header></app-post-header>
      <app-post-body></app-post-body>
      <app-like-comment></app-like-comment>
    </div>

    <div class="w-full h-auto lg:rounded-xl border-b  pb-2 border-zinc-400 bg-fotsy lg:p-6 p-0">
      <app-post-header></app-post-header>
      <app-post-body></app-post-body>
      <app-like-comment></app-like-comment>
    </div>
    <div class="w-full h-auto lg:rounded-xl border-b  pb-2 border-zinc-400 bg-fotsy lg:p-6 p-0">
      <app-post-header></app-post-header>
      <app-post-body></app-post-body>
      <app-like-comment></app-like-comment>
    </div>


  </div>
  <div class="w-full lg:col-span-2 hidden rounded-3xl p-4 lg:flex flex-col gap-4 items-center mt-4 lg:mt-0">
    <div class="w-2/3 p-2 px-4 rounded-xl flex gap-2 cursor-pointer bg-fotsy">
      <div class="w-[50px] h-[50px] bg-red-100 top-[50px] left-[20px] rounded-full border-fotsy border-2 overflow-hidden">
        <img src="assets/imgs/gustavo.jpeg" width="50" alt="">
      </div>
      <div class="flex-1 rounded-full flex justify-center items-center font-mono text-zinc-500 bg-white">
        <span>Create a post</span>
      </div>
    </div>
    <div class="w-full sm:w-2/3 h-[250px] bg-fotsy rounded-xl overflow-hidden relative cursor-pointer">
      <div class="h-[80px] w-full bg-black">

      </div>
      <div class="absolute w-[60px] h-[60px] bg-red-100 top-[50px] left-[20px] rounded-full border-fotsy border-2 overflow-hidden">
        <img src="assets/imgs/gustavo.jpeg" width="60" alt="">
      </div>
      <div class="h-[170px]">
        <div class="absolute bottom-0 h-[135px] w-full flex gap-2 p-4 flex-col font-mono">
          <h1 class="text-2xl font-bold">Jules Hobbert</h1>
          <span class="text-xs font-normal text-zinc-500">jules.hobbert&#64;gmail.com</span>
          <span class="text-xs font-normal text-zinc-500">+261330000000</span>
        </div>
      </div>
    </div>

  </div>
</div>
