<div class="h-full w-full flex flex-col">

  <div class="flex overflow-hidden h-full">
    <div class="">
      <app-sidebar class="h-full"></app-sidebar>
    </div>
    <main class="flex-1 flex flex-col overflow-auto bg-gray-100 ">
      <header class="py-2 text-white flex  justify-end items-center px-6  w-full">
        <div class="flex gap-3 items-center">
          <app-link icon="heroArrowUturnRight" href="logout" ></app-link>
          <div class="rounded-full  w-[35px] h-[35px] bg-white overflow-hidden">
            <img src="assets/imgs/gustavo.jpeg" class="object-cover" width="35" alt="">
          </div>
        </div>
      </header>
      <div class="flex-1 p-4 overflow-auto">
        <router-outlet></router-outlet>
      </div>
    </main>
  </div>
</div>
